In [1]:
import pandas as pd

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

from sqlalchemy.exc import IntegrityError


from datetime import datetime
import math

In [2]:
# read in the master counties data, create a DataFrame, create new 'county_state' column
path = './PResources/Inflation_Rate.csv'
Inflation_RateDF = pd.read_csv(path)

Inflation_RateDF.head()

,Country,Category,DateTime,Value,Frequency,HistoricalDataSymbol,LastUpdate
0,United States,Inflation Rate,1914-12-31T00:00:00,1.0,Monthly,CPI YOY,2015-02-26T15:56:00
1,United States,Inflation Rate,1915-01-31T00:00:00,1.0,Monthly,CPI YOY,2015-02-26T15:56:00
2,United States,Inflation Rate,1915-02-28T00:00:00,1.0,Monthly,CPI YOY,2015-02-26T15:56:00
3,United States,Inflation Rate,1915-03-31T00:00:00,0.0,Monthly,CPI YOY,2015-02-26T15:56:00
4,United States,Inflation Rate,1915-04-30T00:00:00,2.0,Monthly,CPI YOY,2015-02-26T15:56:00

In [3]:
keep_col = ['Category','DateTime','Value']
Inflation_RateDF = Inflation_RateDF[keep_col].drop_duplicates(keep='first')


Inflation_RateDF

            Category             DateTime  Value
0     Inflation Rate  1914-12-31T00:00:00    1.0
1     Inflation Rate  1915-01-31T00:00:00    1.0
2     Inflation Rate  1915-02-28T00:00:00    1.0
3     Inflation Rate  1915-03-31T00:00:00    0.0
4     Inflation Rate  1915-04-30T00:00:00    2.0
...              ...                  ...    ...
1279  Inflation Rate  2021-07-31T00:00:00    5.4
1280  Inflation Rate  2021-08-31T00:00:00    5.3
1281  Inflation Rate  2021-09-30T00:00:00    5.4
1282  Inflation Rate  2021-10-31T00:00:00    6.2
1283  Inflation Rate  2021-11-30T00:00:00    6.8

[1284 rows x 3 columns]

In [4]:
# convert date column into date format
Inflation_RateDF['DateTime'] = pd.to_datetime(Inflation_RateDF['DateTime'])

Inflation_RateDF

            Category   DateTime  Value
0     Inflation Rate 1914-12-31    1.0
1     Inflation Rate 1915-01-31    1.0
2     Inflation Rate 1915-02-28    1.0
3     Inflation Rate 1915-03-31    0.0
4     Inflation Rate 1915-04-30    2.0
...              ...        ...    ...
1279  Inflation Rate 2021-07-31    5.4
1280  Inflation Rate 2021-08-31    5.3
1281  Inflation Rate 2021-09-30    5.4
1282  Inflation Rate 2021-10-31    6.2
1283  Inflation Rate 2021-11-30    6.8

[1284 rows x 3 columns]

In [5]:
# filter rows on the basis of date
Inflation_RateDF = Inflation_RateDF[((Inflation_RateDF['DateTime'] > '01/01/2017') & (Inflation_RateDF['DateTime'] <= '12/31/2021'))]


Inflation_RateDF

            Category   DateTime  Value
1225  Inflation Rate 2017-01-31    2.5
1226  Inflation Rate 2017-02-28    2.7
1227  Inflation Rate 2017-03-31    2.4
1228  Inflation Rate 2017-04-30    2.2
1229  Inflation Rate 2017-05-31    1.9
1230  Inflation Rate 2017-06-30    1.6
1231  Inflation Rate 2017-07-31    1.7
1232  Inflation Rate 2017-08-31    1.9
1233  Inflation Rate 2017-09-30    2.2
1234  Inflation Rate 2017-10-31    2.0
1235  Inflation Rate 2017-11-30    2.2
1236  Inflation Rate 2017-12-31    2.1
1237  Inflation Rate 2018-01-31    2.1
1238  Inflation Rate 2018-02-28    2.2
1239  Inflation Rate 2018-03-31    2.4
1240  Inflation Rate 2018-04-30    2.5
1241  Inflation Rate 2018-05-31    2.8
1242  Inflation Rate 2018-06-30    2.9
1243  Inflation Rate 2018-07-31    2.9
1244  Inflation Rate 2018-08-31    2.7
1245  Inflation Rate 2018-09-30    2.3
1246  Inflation Rate 2018-10-31    2.5
1247  Inflation Rate 2018-11-30    2.2
1248  Inflation Rate 2018-12-31    1.9
1249  Inflation Rate 2019-01-31    1.6
1250  Inflation Rate 2019-02-28    1.5
1251  Inflation Rate 2019-03-31    1.9
1252  Inflation Rate 2019-04-30    2.0
1253  Inflation Rate 2019-05-31    1.8
1254  Inflation Rate 2019-06-30    1.6
1255  Inflation Rate 2019-07-31    1.8
1256  Inflation Rate 2019-08-31    1.7
1257  Inflation Rate 2019-09-30    1.7
1258  Inflation Rate 2019-10-31    1.8
1259  Inflation Rate 2019-11-30    2.1
1260  Inflation Rate 2019-12-31    2.3
1261  Inflation Rate 2020-01-31    2.5
1262  Inflation Rate 2020-02-29    2.3
1263  Inflation Rate 2020-03-31    1.5
1264  Inflation Rate 2020-04-30    0.3
1265  Inflation Rate 2020-05-31    0.1
1266  Inflation Rate 2020-06-30    0.6
1267  Inflation Rate 2020-07-31    1.0
1268  Inflation Rate 2020-08-31    1.3
1269  Inflation Rate 2020-09-30    1.4
1270  Inflation Rate 2020-10-31    1.2
1271  Inflation Rate 2020-11-30    1.2
1272  Inflation Rate 2020-12-31    1.4
1273  Inflation Rate 2021-01-31    1.4
1274  Inflation Rate 2021-02-28    1.7
1275  Inflation Rate 2021-03-31    2.6
1276  Inflation Rate 2021-04-30    4.2
1277  Inflation Rate 2021-05-31    5.0
1278  Inflation Rate 2021-06-30    5.4
1279  Inflation Rate 2021-07-31    5.4
1280  Inflation Rate 2021-08-31    5.3
1281  Inflation Rate 2021-09-30    5.4
1282  Inflation Rate 2021-10-31    6.2
1283  Inflation Rate 2021-11-30    6.8

In [6]:
Inflation_RateDF['Difference'] =  Inflation_RateDF['Value'] - Inflation_RateDF['Value'].shift(1)
Inflation_RateDF = Inflation_RateDF.fillna(0)

Inflation_RateDF

C:\Users\14074\AppData\Local\Temp/ipykernel_5404/3793323879.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Inflation_RateDF['Difference'] =  Inflation_RateDF['Value'] - Inflation_RateDF['Value'].shift(1)

            Category   DateTime  Value  Difference
1225  Inflation Rate 2017-01-31    2.5         0.0
1226  Inflation Rate 2017-02-28    2.7         0.2
1227  Inflation Rate 2017-03-31    2.4        -0.3
1228  Inflation Rate 2017-04-30    2.2        -0.2
1229  Inflation Rate 2017-05-31    1.9        -0.3
1230  Inflation Rate 2017-06-30    1.6        -0.3
1231  Inflation Rate 2017-07-31    1.7         0.1
1232  Inflation Rate 2017-08-31    1.9         0.2
1233  Inflation Rate 2017-09-30    2.2         0.3
1234  Inflation Rate 2017-10-31    2.0        -0.2
1235  Inflation Rate 2017-11-30    2.2         0.2
1236  Inflation Rate 2017-12-31    2.1        -0.1
1237  Inflation Rate 2018-01-31    2.1         0.0
1238  Inflation Rate 2018-02-28    2.2         0.1
1239  Inflation Rate 2018-03-31    2.4         0.2
1240  Inflation Rate 2018-04-30    2.5         0.1
1241  Inflation Rate 2018-05-31    2.8         0.3
1242  Inflation Rate 2018-06-30    2.9         0.1
1243  Inflation Rate 2018-07-31    2.9         0.0
1244  Inflation Rate 2018-08-31    2.7        -0.2
1245  Inflation Rate 2018-09-30    2.3        -0.4
1246  Inflation Rate 2018-10-31    2.5         0.2
1247  Inflation Rate 2018-11-30    2.2        -0.3
1248  Inflation Rate 2018-12-31    1.9        -0.3
1249  Inflation Rate 2019-01-31    1.6        -0.3
1250  Inflation Rate 2019-02-28    1.5        -0.1
1251  Inflation Rate 2019-03-31    1.9         0.4
1252  Inflation Rate 2019-04-30    2.0         0.1
1253  Inflation Rate 2019-05-31    1.8        -0.2
1254  Inflation Rate 2019-06-30    1.6        -0.2
1255  Inflation Rate 2019-07-31    1.8         0.2
1256  Inflation Rate 2019-08-31    1.7        -0.1
1257  Inflation Rate 2019-09-30    1.7         0.0
1258  Inflation Rate 2019-10-31    1.8         0.1
1259  Inflation Rate 2019-11-30    2.1         0.3
1260  Inflation Rate 2019-12-31    2.3         0.2
1261  Inflation Rate 2020-01-31    2.5         0.2
1262  Inflation Rate 2020-02-29    2.3        -0.2
1263  Inflation Rate 2020-03-31    1.5        -0.8
1264  Inflation Rate 2020-04-30    0.3        -1.2
1265  Inflation Rate 2020-05-31    0.1        -0.2
1266  Inflation Rate 2020-06-30    0.6         0.5
1267  Inflation Rate 2020-07-31    1.0         0.4
1268  Inflation Rate 2020-08-31    1.3         0.3
1269  Inflation Rate 2020-09-30    1.4         0.1
1270  Inflation Rate 2020-10-31    1.2        -0.2
1271  Inflation Rate 2020-11-30    1.2         0.0
1272  Inflation Rate 2020-12-31    1.4         0.2
1273  Inflation Rate 2021-01-31    1.4         0.0
1274  Inflation Rate 2021-02-28    1.7         0.3
1275  Inflation Rate 2021-03-31    2.6         0.9
1276  Inflation Rate 2021-04-30    4.2         1.6
1277  Inflation Rate 2021-05-31    5.0         0.8
1278  Inflation Rate 2021-06-30    5.4         0.4
1279  Inflation Rate 2021-07-31    5.4         0.0
1280  Inflation Rate 2021-08-31    5.3        -0.1
1281  Inflation Rate 2021-09-30    5.4         0.1
1282  Inflation Rate 2021-10-31    6.2         0.8
1283  Inflation Rate 2021-11-30    6.8         0.6

In [7]:
#Inflation_RateDF ='./Output/inflation_rate.csv'
Inflation_RateDF.to_csv("Inflater.csv", index=False)
#type(Inflation_RateDF)