In [2]:
import pandas as pd

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
from sqlalchemy.exc import IntegrityError


from datetime import datetime
import math

In [3]:
# read in the master counties data, create a DataFrame, create new 'county_state' column
path = './Resources/NASDAQ.csv'
nasdaqDF = pd.read_csv(path)
keep_col = ['Symbol','Date','Open','Close']
nasdaqDF = nasdaqDF[keep_col].drop_duplicates(keep='first')
# convert date column into date format
nasdaqDF['Date'] = pd.to_datetime(nasdaqDF['Date'])
# filter rows on the basis of date
nasdaqDF = nasdaqDF[((nasdaqDF['Date'] > '01/01/2012') & (nasdaqDF['Date'] <= '12/31/2021'))]
# calculate difference of Value column and add new column
nasdaqDF['Open Difference'] = nasdaqDF['Open'].diff()
nasdaqDF['Close Difference'] = nasdaqDF['Close'].diff()
print (nasdaqDF)
nasdaq = './Resources/NASDAQ.csv'
nasdaqDF.to_csv(nasdaq, index=False)

        Symbol       Date        Open       Close  Open Difference  \
5     CCMP:IND 2021-12-31  15722.9053  15644.9707              NaN
6     CCMP:IND 2021-12-30  15758.9834  15741.5645          36.0781
7     CCMP:IND 2021-12-29  15794.9219  15766.2158          35.9385
8     CCMP:IND 2021-12-28  15895.1982  15781.7227         100.2763
9     CCMP:IND 2021-12-27  15696.8291  15871.2617        -198.3691
...        ...        ...         ...         ...              ...
2575  CCMP:IND 2012-09-01   2682.9800   2676.5600         -21.4400
2576  CCMP:IND 2012-06-01   2671.1700   2674.2200         -11.8100
2577  CCMP:IND 2012-05-01   2642.5700   2669.8600         -28.6000
2578  CCMP:IND 2012-04-01   2639.9000   2648.3600          -2.6700
2579  CCMP:IND 2012-03-01   2657.3900   2648.7200          17.4900

      Close Difference
5                  NaN
6              96.5938
7              24.6513
8              15.5069
9              89.5390
...                ...
2575          -25.9400
2576           -2.3400
2577           -4.3600
2578          -21.5000
2579            0.3600

[2575 rows x 6 columns]