In [1]:
import pandas as pd

import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect
from sqlalchemy.exc import IntegrityError
import csv


from datetime import datetime
import math

In [2]:
# read in DJIA csv and create DataFrame
path = './Resources/DJIA.csv'
DJIAdf = pd.read_csv(path)
DJIAdf = DJIAdf.drop_duplicates(keep='first')
# convert date column into date format
DJIAdf['date'] = pd.to_datetime(DJIAdf['date'])
# filter rows on the basis of date
DJIAdf = DJIAdf[((DJIAdf['date'] > '01/01/2017') & (DJIAdf['date'] <= '12/31/2021'))]
# calculate difference of Value column and add new column
DJIAdf['Value Difference'] = DJIAdf['value'].diff()
DJIA = './c_DJIA.csv'
DJIAdf.to_csv(DJIA, index=False)

In [3]:
# create new csv file housing DJIA monthly average
DJIAMoAvg = DJIAdf.groupby(pd.PeriodIndex(DJIAdf['date'], freq="M"))['value'].mean()
DJIAMoAvg
DJIAMoAvg.to_csv('./c_DJIAmonthlyAVG.csv', index=True)

In [5]:
# read in Housing_Inventoryâ€‹ csv and create DataFrame
path = './Resources/Housing_Inventory.csv'
Housing_Inventorydf = pd.read_csv(path)
Housing_Inventorydf.head()

           symbol                 date  value
0  erntsldsoq176n  2000-04-01T00:00:00    355
1  erntsldsoq176n  2000-07-01T00:00:00    365
2  erntsldsoq176n  2000-10-01T00:00:00    288
3  erntsldsoq176n  2001-01-01T00:00:00    308
4  erntsldsoq176n  2001-04-01T00:00:00    395

In [6]:

Housing_Inventorydf = Housing_Inventorydf.drop_duplicates(keep='first')
# convert date column into date format
Housing_Inventorydf['date'] = pd.to_datetime(Housing_Inventorydf['date'])
# filter rows on the basis of date
Housing_Inventorydf = Housing_Inventorydf[((Housing_Inventorydf['date'] > '01/01/2017') & (Housing_Inventorydf['date'] <= '12/31/2021'))]
#calculate difference of Value column and add new column
Housing_Inventorydf['Value Difference'] = Housing_Inventorydf['value'].diff()
Housing_Inventory = './c_Housing_Inventory.csv'
Housing_Inventorydf.to_csv(Housing_Inventory, index=False)